%home
  #home-carousel.carousel.slide.carousel-fade{data: {ride: "carousel", interval: 5000, pause: "" }}
    .carousel-inner
      - @pictures.each_with_index do |picture, index| 
        .item{class:("active" if index == 0), data: {user: picture.user.as_json(methods: :full_name, only: [:full_name, :first_name])}}
          .item-wrapper
            .image-wrapper
              %img{:src => "#{picture.image_link}"}
          %nav
            %ul
              %li= link_to "View Portfolio", user_path(picture.user)
    %arrows
      %left
        = link_to("", "#home-carousel", data: {slide: "prev"})
      %right
        = link_to("", "#home-carousel", data: {slide: "next"})
