%about
  .wrapper
    %header
      %h1 About <i>Photographer Showcase</i>

    %text
      <p><b><i>Photographer Showcase</i></b> is an app designed to enable photographers to display their photography portfolios. Photographers can create an account, log in, create unlimited portfolios (e.g. "Wildlife", "Nature", etc.), and display unlimited photographs within each portfolio.</p>

      This app demonstrates the following:

      %ul
        .bullets
          <p>
          <b>PROCESS</b>
          <p>
          Ideation, wireframes, mockups, design and development
          <br/>
          Building from the application core to the peripherals
          <br/>
          Adding features incrementally and deploying continuously
          <p>
          <b>FRONT-END FRAMEWORKS</b>
          <p>
          Haml
          <br/>
          SASS
          <br/>
          Twitter Bootstrap
          <br/>
          jQuery
          <p>
          <b>TESTING</b>
          <p>
          Unit, functional, and integration tests
          <br/>
          Development and test databases
          <br/>
          Shoulda matchers
          <br/>
          TDD and red/green/refactor
          <br/>
          Testing with RSpec
          <br/>
          Controller tests
          <br/>
          Generating fake data
          <br/>
          Macros
          <br/>
          Shared examples
          <br/>
          Feature specs
          <br/>
          Capybara
          <br/>
          Feature tests with Javascript
          <br/>
          Testing email sending
          <p>
          <b>BUILDING APPLICATIONS</b>
          <p>
          Seeding data
          <br/>
          Sending emails
          <br/>
          Custom form builders
          <br/>
          Complex forms
          <br/>
          Using Amazon S3 for cloud storage
          <br/>
          Skinny controller, fat model