%about
  .wrapper
    %header
      %h1 About <em>Photographer Showcase</em>

    %text
      %p
        <strong><em>Photographer Showcase</em></strong> is an app designed to enable photographers to display their photography portfolios. Photographers can create an account, log in, create unlimited portfolios (e.g. <em>"Wildlife", "Nature",</em> etc.), and display unlimited photographs within each portfolio.

      %p This app demonstrates the following:

      %h2 PROCESS

      %ul
        %li Ideation, wireframes, mockups, design and development
        %li Building from the application core to the peripherals
        %li Adding features incrementally and deploying continuously

      %h2 FRONT-END FRAMEWORKS

      %ul
        %li Haml
        %li SASS
        %li Twitter Bootstrap
        %li jQuery

      %h2 TESTING

      %ul
        %li Unit, functional, and integration tests
        %li Development and test databases
        %li Shoulda matchers
        %li TDD and red/green/refactor
        %li Testing with RSpec
        %li Controller tests
        %li Generating fake data
        %li Macros
        %li Shared examples
        %li Feature specs
        %li Capybara
        %li Feature tests with Javascript
        %li Testing email sending

      %h2 BUILDING APPLICATIONS

      %ul
        %li Seeding data
        %li Sending emails
        %li Custom form builders
        %li Complex forms
        %li Using Amazon S3 for cloud storage
        %li Skinny controller, fat model