bio {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    header {
      h1 {
        color: #DAA520;
        font-family: verdana;
        font-size: 28px;
        text-align: center;
        padding-bottom: 30px;
      }
    }
    text {
      color: #DAA520;
      font-family: verdana;
      font-size: 14px;
    }
  }
}