bio {
  .wrapper {
    @media (min-width: $screen-sm-min) {
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
    }
    margin-left: 15px;
    margin-right: 15px;
    header {
      h1 {
        color: #DAA520;
        font-family: verdana;
        font-size: 28px;
        text-align: center;
        padding-bottom: 30px;
      }
    }
    text {
      color: #DAA520;
      font-family: verdana;
      font-size: 14px;
      
      p {
        margin-bottom: 30px; 
      }
    }
  }
}