categorydetail {
  header {
    h1 {
      color: #FFFFFF;
      font-family: verdana;
      font-size: 28px;
      text-align: center;
      padding-bottom: 30px;
    }
  }
  img {
    display: block;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #650C03;
    border-width: 5px;
  }
  a {
    color: #DAA520;
    text-decoration: none;
    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
  nav {
    clear: both;
    position: relative;
    margin: 0 auto;
    ul {
      margin: 0;
      display: block;
      text-align: center;
      padding: 15px 0 0 0;
      photographer {
        font-family: verdana;
        font-size: 11px;
        color: #DAA520;
        text-transform: uppercase;
        font-weight: bold;
      }
      .title {
        font-family: verdana;
        font-size: 11px;
        color: #DAA520;
        text-transform: uppercase;
        font-weight: bold;
      }
      li {
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin: 0;
        list-style-type: none;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 11px;
      }
    }
  }
  arrows {
    left {
      position: absolute;
      left: 0;
      top: 45%;
      &:hover {
        background: url('/tmp/prev-1.jpg');
      }
    }
    right {
      position: absolute;
      right: 0;
      top: 45%;
      &:hover {
        background: url('/tmp/next-1.jpg');
      }
    }
  }
}