section#footer {
  background: #650c03;
  height: 50px;
  h1 {
    font-family: verdana;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
  }
}