body {
  padding: 0;
  margin: 0;
  background-color: #650c03;
  height: 100%;
  section.content {
    padding: 20px 0;
    background: #240603;
  }
}

body.welcomes, body.users, body.pictures, body.categories, body.bios, body.sessions, body.registrations, body.passwords, body.static, body.cat_pictures {
  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  section.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 50px;
    padding-bottom: 15px;
  }
}

body.pictures-new, body.pictures-create, body.pictures-edit_pictures, body.pictures-edit, body.pictures-update, body.pictures-assign_cat_picture, body.registrations, body.categories, body.bios, body.static {
  section.content {
    overflow-y: scroll;
  }
}

.carousel {
  height: 100%;
  .carousel-inner {
    height: 100%;
    .item {
      height: 100%;
      nav {
        margin-top: -40px;
        background-color: #240603;
      }
      .item-wrapper {
        height: 100%;
        padding-bottom: 40px;
        @media (max-width: $screen-xs-max) {
          display: table;
        }
        &.with-header {
          margin-top: -60px;
          padding-top: 50px;
        }
        .image-wrapper {
          @media (max-width: $screen-xs-max) {
            display: table-cell;
            vertical-align: middle;
          }
          height: 100%;
        }
      }
      img {
        @media (min-width: $screen-sm-min) {
          height: 100%;
          max-width: 90%;
        }
        max-width: 70%;
      }
    }
  }
}

.carousel-fade {
  .item {
    @include transition(opacity 0.5s linear);
    left: 0 !important;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .next.left, .prev.right {
    opacity: 1;
    z-index: 1;
  }
  .active.left, .active.right {
    opacity: 0;
    z-index: 2;
  }
}