body {
  padding: 0;
  margin: 0;
  background-color: #650c03;
  height: 100%;
  section.content {
    padding: 30px 0;
    background: #240603;
  }
}

body.welcomes, body.users, body.pictures, body.categories, body.bios, body.sessions, body.registrations, body.passwords {
  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  section.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 50px;
    padding-bottom: 15px;
  }
}

body.pictures-new, body.pictures-create {
  section.content {
    overflow-y: scroll;
  }
}