section#header {
  @media (min-width: $screen-sm-min) {
    text-align: center;
  }
  background: #650c03;
  height: 50px;
  a {
    color: white;
    text-decoration: none;
  }
  .navbar-header {
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      float: none;
    }
    name {
      font-family: arial;
      font-size: 20px;
      text-transform: uppercase;
      color: white;
      @media (min-width: $screen-sm-min) {
        float: none;
      }
    }
    .icon-bar {
      background-color: white;
    }
  }
  nav {
    @media (min-width: $screen-sm-min) {
      display: inline-block !important;
    }
    clear: both;
    position: relative;
    z-index: 2000;
    margin: 0 auto;
    &.navbar-collapse.in {
      background-color: #650c03;
    }
    > ul {
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      margin: 0;
      display: block;
      text-align: center;
      padding: 15px 0;
      name {
        font-family: arial;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
        padding: 0 15px;
      }
      li {
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0 15px;
        list-style-type: none;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 11px;
        a {
          font-weight: bold;
          font-family: verdana;
          font-size: 11px;
          .caret {
            border-top-color: white;
          }
        }
      }
      > li {
        &:hover {
          > a {
            color: goldenrod;
            .caret {
              border-top-color: goldenrod;
            }
          }
        }
        &.dropdown {
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
          .dropdown-menu {
            margin-top: 0;
            a {
              color: #650c03;
            }
            li {
              &:hover {
                a {
                  background-color: lighten(goldenrod, 40%);
                }
              }
            }
          }
        }
      }
    }
  }
}