home
  img
    max-width: 75%
    max-height: 75%
    width: auto\9
    display: block
    margin-left: auto
    margin-right: auto
    border-style: solid
    border-color: #650C03
    border-width: 5px