user {
  header {
    h1 {
      color: #DAA520;
      font-family: verdana;
      font-size: 28px;
      text-align: center;
      padding-bottom: 30px;
    }
  }  
  img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #650c03;
    border-width: 5px;
  }
  a {
    color: goldenrod;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  nav {
    clear: both;
    position: relative;
    margin: 0 auto;
    ul {
      margin: 0;
      display: block;
      text-align: center;
      padding: 15px 0 0 0;
      category {
        font-family: verdana;
        font-size: 11px;
        color: goldenrod;
        text-transform: uppercase;
        font-weight: bold;
      }
      li {
        font-weight: bold;
        display: inline-block;
        position: relative;
        margin: 0;
        list-style-type: none;
        text-transform: uppercase;
        font-family: verdana;
        font-size: 11px;
      }
    }
  }
  arrows {
    left {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -35px;
      a {
        display: block;
        width: 34px;
        height: 70px;
        background-repeat: no-repeat;
        background-image: asset-url('prev-0.png');
        &:hover {
          background-image: asset-url('prev-1.png');
        }
      }
    }
    right {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -35px;
      a {
        display: block;
        width: 34px;
        height: 70px;
        background-repeat: no-repeat;
        background-image: asset-url('next-0.png');
        &:hover {
          background-image: asset-url('next-1.png');
        }
      }
    }
  }
}

@-moz-document url-prefix() { 
  user {
    img {
      height: -moz-calc(100% - 50px); /* old Firefox */
      height: calc(100% - 50px); /* new Firefox */
    }
  }
}