ul,ol {
  list-style: none;
}

h1,h2,h3,h4,h5,h6,pre,code {
  font-size: 1em;
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,blockquote,fieldset,input,dl,dt,dd,figure {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 30px; 
}

a img,:link img,:visited img, fieldset {
  border: none;
}

address {
  font-style: normal;
}

header, section, article, nav, footer, hgroup {
  display: block;
}
