%section.category
  %header.clearfix
    %h1= "Add a Category"
    .container
      .row
        .col-sm-3
          = bootstrap_form_for [@category] do |f|
            %fieldset
              = f.text_field :name, label: "Category Name"
            %fieldset.actions.form-group
              .col-sm-3
                %input(type="submit" value="Add Category" class="btn btn-default")




