%category
  .wrapper
    %header
      %h1 Add a Category
    %text
      = bootstrap_form_for [current_user, @category] do |f|
        %fieldset
          .row
            .col-sm-4
              = f.text_field :name, label: "Name of new category", autofocus: true
              = f.submit "Add Category"




