%section.category
  %header.clearfix
    %h1= @category.name
  %article.row
    - @category.pictures.each do |picture|
      .picture.col-sm-1
        = link_to root_path, nil do
          %img{:src => "#{picture.image_link.thumb}"}
          <br/><br/><br/>