.category
  %header
    %h1= @category.name
  .wrapper
    - @category.pictures.each_slice(4) do |pictures|
      .pictures
        - pictures.each do |picture|
          .picture
            = link_to root_path, nil do
              %img{:src => "#{picture.image_link.thumb}"}